<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy Piracy</key>
	<dict>
		<key>Twitter</key>
		<string>privacypiracy</string>
	</dict>
	<key>The TPS Report</key>
	<dict>
		<key>Website</key>
		<string>tpsreportshow.tumblr.com</string>
		<key>Twitter</key>
		<string>tpsreportshow</string>
	</dict>
</dict>
</plist>
